<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('./meta') %> <%- include ('./style') %>
    <title>Dreams Pos <%= title %></title>
  </head>
  <body>
    <div id="global-loader">
      <div class="whirly-loader"></div>
    </div>

    <%- include (layout) %> <%- include ('./theme-settings') %> <%- include
    ('./script') %>
  </body>
</html>
